body {
  font-family: sans-serif;
  font-size: 7vw;
}
@media (min-width: 30rem) {
  body {
    font-size: x-large;
  }
  #quizContainer {
    max-width: 48rem;
  }
}
@media (hover: hover) and (pointer: fine) {
  .choice:hover {
    box-shadow: 0 0 0 0.2rem royalblue;
    border-color: royalblue;
    color: royalblue;
  }
}
#quizContainer {
  margin: 2rem auto;
  background-color: white;
  min-height: 80vh;
  width: 90vw;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem 0;
  position: relative;
  display: flex;
  padding: 2rem 0;
  flex-flow: column;
}

#start {  margin-top: 20%;

}


#qImg {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0px;
  top: 0px;
}
#qImg img {
  width: 200px;
  height: 200px;
  border-top-left-radius: 5px;
}

#qBox {
  margin: 0 1rem;
}
#qPre {
  font-size: 80%;
  margin: 0;
}

#choices {
  display: grid;
  grid-auto-rows: 1fr;
  margin: 0 1rem;
}
.choice {
  justify-content: center;
  border: 0.1rem solid grey;
  border-radius: 0.3rem;
  cursor: pointer;
  padding: 1rem;
  margin: 0.5rem 0;
  transition: 0.2s;
}

.choice:active {
  background-color: royalblue;
  border-color: royalblue;
  box-shadow: 0 0 0 0.2rem royalblue;
  color: white;
}

#timer {
  position: absolute;
  height: 100px;
  width: 200px;
  bottom: 0px;
  text-align: center;
}
#counter {
}
#btimeGauge {
  width: 150px;
  height: 10px;
  border-radius: 10px;
  background-color: lightgray;
  margin-left: 25px;
}
#timeGauge {
  height: 10px;
  border-radius: 10px;
  background-color: mediumseagreen;
  margin-top: -10px;
  margin-left: 25px;
}
#progress {
  padding: 1rem;
  justify-content: center;
  display: flex;
  margin-top: auto;
  flex-wrap: wrap;
}
.prog {
  width: 2rem;
  height: 2rem;
  border: 0.2rem solid gray;
  border-radius: 50%;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  transition: 0.2s;
  line-height: 2.2rem;
  text-align: center;
  font-size: 1.5rem;
}
.progGreen {
  background-color: #0f0;
  border: 0.2rem solid green;
}
.progRed{
  background-color: salmon;
border: 0.2rem solid darkred;
}

.nowQ {
  background-color: lightskyblue;
}
#scoreContainer {
  background-color: white;
  opacity: 0.9;
  display: none;
  padding:0 2rem
}
#scoreContainer img {
  top: 100px;
  left: 325px;
}
#scoreContainer div {
  margin: auto;
  font-weight: bold;
  text-align: center;
}
#quiz {
  flex-flow: column;
  width: 100%;
}
#intro {
  padding: 2rem;
}
#advice{
  margin-top: 0;
  display: flex;
  flex-direction: column;
}

.qButton {
  font-weight: bolder;
  word-break: break-word;
  width: 50vw;
  max-width: 36rem;
  padding: 2rem;
  border: 0.2rem solid DodgerBlue;
  text-align: center;
  cursor: pointer;
  color: DodgerBlue;
  margin: auto;
  border-radius: 0.5rem;
  transition-duration: 0.1s;
}
.qButton:active {
  border: 3px solid lightseagreen;
  background-color: lightseagreen;
  color: white;
}
@media (hover: hover) and (pointer: fine) {
  .qButton:hover {
    border: 3px solid lightseagreen;
    background-color: lightseagreen;
    color: white;
  }
}
